<div class='block block--media'>
  <div class='block__embed'>
    <%= media.embed.html %>
  </div>

  <div class='block__description'>
    <% if media.description %>
      <%= media.description_html %>
    <% end %>
  </div>
</div>
