<div class='home'>
  <h1>
    Roll On Roll On<br>
    Phenomena
  </h1>

  <div class='home__contents'>
    <% @channel.channels.reverse.each do |channel| %>
      <%= channel(channel) %>
    <% end %>
  </div>
</div>

<%= erb :poster, locals: { mode: :home } %>
