+global-reset()

html
  +box-sizing(border-box)

*,
*:before,
*:after
  box-sizing: inherit

body
  padding: 0
  color: black
  font-size: $fs
  font-family: $arialNarrow
  line-height: $lh
  text-rendering: optimizeLegibility
  text-transform: uppercase
  letter-spacing: 1px
  -webkit-font-smoothing: antialiased
  background-image: image-url('base.png')
  background-position: top center
  background-repeat: repeat-y
  background-size: 90%

  @media (max-width: $breakpoint)
    font-size: $fs / 2
    line-height: $lh / 2

.body
  &--index
    background-color: $teal

  &--page
    background-color: lighten($teal, 50%)

a
  color: black
  text-decoration: none

em, i
  font-style: italic

strong, b
  font-weight: bold

p
  +block-margins($lh)

  @media (max-width: $breakpoint)
    +block-margins($lh / 2)

  > a
    text-decoration: underline

img
  display: inline-block
  vertical-align: bottom
  max-width: 100%

h1,
h2,
h3
  +block-margins($lh)
  font-weight: bold

  @media (max-width: $breakpoint)
    +block-margins($lh / 2)

ul, ol
  padding: 0

  li
    position: relative
    margin: 0 0 0 1em
    padding: 0
    &:before
      position: absolute
      right: 100%
      content: '—'
      text-align: right
      color: rgba(black, 0.5)

.utility
  &--centered
    text-align: center
