@font-face
  font-family: 'Arial Narrow MT Pro'
  src: url('ArialNarrowMTPro-Regular.eot')
  src: url('ArialNarrowMTPro-Regular.eot?#iefix') format('embedded-opentype'), url('ArialNarrowMTPro-Regular.woff') format('woff'), url('ArialNarrowMTPro-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
